**Read text file**

In [0]:
import pandas as pd
# change dataPath to point to text file
dataPath='/content/drive/My Drive/Sem8/DS/Mid2/Lab/data2.txt'
data=pd.read_csv(dataPath, sep = ",")
data

   Refund Marital_Status  Taxable_Income Evade
0     yes         single          115000   yes
1     yes         single           60000    no
2     yes         single           40000   yes
3     yes        married          130000   yes
4     yes        married           80000    no
5     yes       divorced          130000   yes
6     yes       divorced           80000    no
7      no         single           75000    no
8      no         single           65000   yes
9      no        married          125000   yes
10     no        married           80000    no
11     no       divorced           90000   yes
12     no       divorced           75000    no

In [0]:
# data=data.replace('yes',1)
# data=data.replace('no',0)
# data.head()

**Normalizing data**

In [0]:
data['Taxable_Income']=data['Taxable_Income']/1000
data.head()

  Refund Marital_Status  Taxable_Income Evade
0    yes         single           115.0   yes
1    yes         single            60.0    no
2    yes         single            40.0   yes
3    yes        married           130.0   yes
4    yes        married            80.0    no

**Calculation of Mean**

In [0]:
# mean
sumNo=0
sumYes=0
countNo=0
countYes=0
for i in range(len(data)):#iterate over all the rows 

  #iloc operator returns the specified column value of the row
  #for no
  if( data.iloc[i, 3]=='no'):
    sumNo+= data.iloc[i, 2]
    countNo+=1
  #for yes
  else:
    sumYes+= data.iloc[i, 2]
    countYes+=1  

# print('Sum: {0}--{1}'.format(sumNo,sumYes))
sumNo=sumNo/countNo
sumYes=sumYes/countYes

meanNo=sumNo
meanYes=sumYes
print('Sample Mean:\nNo: {0}\nYes: {1}'.format(sumNo,sumYes))

Sample Mean:
No: 75.0
Yes: 99.28571428571429

**Calculating sample variance**

In [0]:
varNo=0.0
varYes=0.0
a=0
#iterate over all the rows
for i in range(len(data)):
  if( data.iloc[i, 3]=='no'):
    a=data.iloc[i, 2]-sumNo
    varNo+=a**2
  else:
    a=data.iloc[i, 2]-sumYes
    varYes+=a**2

varNo=varNo/(countNo-1)
varYes=varYes/(countYes-1)
print('Sample Variance:\nNo: {0}\nYes: {1}'.format(varNo,varYes))

Sample Variance:
No: 60.0
Yes: 1261.9047619047617

**Calculating normal distribution**

In [0]:
import math
from math import pi
# A=value, U=mean, S= variance
def calcNormalDistribution(A,U,S):
  a=1/math.sqrt(2*pi*S)
  b=-1*(A-U)**2/(2*S)
  b=math.exp(b)
  return (a*b)
  
  
print(calcNormalDistribution(120,meanNo,varNo))
print(calcNormalDistribution(120,meanYes,varYes))

2.4161008521253155e-09
0.009474599505848034

In [0]:
countNo=0
countYes=0
dict={'Refund':{'yes':0,'no':0},
      'Marital_Status':{'single':0,'married':0,'divorced':0}
      }
   
for i in range(len(data)):
  if( data.iloc[i, 3]=='no'):
    countNo+=1
  else:
    countYes+=1
  dict['Refund'][data.iloc[i,0]]+=1
  dict['Marital_Status'][data.iloc[i,1]]+=1
print(dict)
print('Counts of classes:\nNo: {0}\nYes: {1}'.format(countNo,countYes))

{'Refund': {'yes': 7, 'no': 6}, 'Marital_Status': {'single': 5, 'married': 4, 'divorced': 4}}
Counts of classes:
No: 6
Yes: 7

In [0]:
countNo=0
countYes=0
dict={'Refund':{'yes':{'yes':0,'no':0},'no':{'yes':0,'no':0}},
      'Marital_Status':{'yes':{'single':0,'married':0,'divorced':0},'no':{'single':0,'married':0,'divorced':0}}
      }
# dict   
for i in range(len(data)):
  if( data.iloc[i, 3]=='no'):
    countNo+=1
    dict['Refund']['no'][data.iloc[i,0]]+=1
    dict['Marital_Status']['no'][data.iloc[i,1]]+=1
  else:
    countYes+=1
    dict['Refund']['yes'][data.iloc[i,0]]+=1
    dict['Marital_Status']['yes'][data.iloc[i,1]]+=1

print('Counts of classes:\nNo: {0}\nYes: {1}'.format(countNo,countYes))
print(dict)

Counts of classes:
No: 6
Yes: 7
{'Refund': {'yes': {'yes': 4, 'no': 3}, 'no': {'yes': 3, 'no': 3}}, 'Marital_Status': {'yes': {'single': 3, 'married': 2, 'divorced': 2}, 'no': {'single': 2, 'married': 2, 'divorced': 2}}}

**Calculation of probabilities**

In [0]:

dict['Refund']['no']['yes'] = dict['Refund']['no']['yes']/countNo
dict['Refund']['no']['no'] = dict['Refund']['no']['no']/countNo
dict['Refund']['yes']['no'] = dict['Refund']['yes']['no']/countYes
dict['Refund']['yes']['yes'] = dict['Refund']['yes']['yes']/countYes
dict['Marital_Status']['yes']['single']=dict['Marital_Status']['yes']['single']/countYes
dict['Marital_Status']['no']['single']=dict['Marital_Status']['no']['single']/countNo
dict['Marital_Status']['no']['divorced']=dict['Marital_Status']['no']['divorced']/countNo
dict['Marital_Status']['yes']['divorced']=dict['Marital_Status']['yes']['divorced']/countYes
dict['Marital_Status']['yes']['married']=dict['Marital_Status']['yes']['married']/countYes
dict['Marital_Status']['no']['married']=dict['Marital_Status']['no']['married']/countNo
dict

{'Marital_Status': {'no': {'divorced': 0.3333333333333333,
   'married': 0.3333333333333333,
   'single': 0.3333333333333333},
  'yes': {'divorced': 0.2857142857142857,
   'married': 0.2857142857142857,
   'single': 0.42857142857142855}},
 'Refund': {'no': {'no': 0.5, 'yes': 0.5},
  'yes': {'no': 0.42857142857142855, 'yes': 0.5714285714285714}}}

In [0]:
# Refund = yes/no
# Status = single/married/divorced
# Income = 110
def predict(Refund,Status,Income):
  # print(dict['Refund']['no'][Refund])
  # print(dict['Marital_Status']['yes'][Status])
  # print(calcNormalDistribution(Income, meanNo, varNo))
  a=dict['Refund']['no'][Refund]*dict['Marital_Status']['no'][Status]*calcNormalDistribution(Income, meanNo, varNo)
  b=dict['Refund']['yes'][Refund]*dict['Marital_Status']['yes'][Status]*calcNormalDistribution(Income, meanYes, varYes)
  # print(dict['Refund']['no'][Refund])
  # print(dict['Marital_Status']['yes'][Status])
  # print(calcNormalDistribution(Income, meanYes, varYes))
  print('Probability belonging to class:\nNo: {0}\nYes: {1}'.format(a,b))

  if(a<b):
    print("\n***********\nEvade Yes\n\n\n")
  else:
    print("\n***********\nEvade No\n\n\n")

predict('no','married',120)

Probability belonging to class:
No: 4.0268347535421923e-10
Yes: 0.0011601550415324122

***********
Evade Yes

**Given test examples**

In [0]:
# X1 = {Refund = Yes, Status = Divorced,
# Income = 90K, Evade = ?}

predict('yes', 'divorced',90)

# X2 = {Refund = No, Status = Married,
# Income = 60K, Evade = ?}
predict('no', 'married',60)

Probability belonging to class:
No: 0.0013163792765403877
Yes: 0.0017719573476815387

***********
Evade Yes



Probability belonging to class:
No: 0.0013163792765403877
Yes: 0.0007460551295694149

***********
Evade No

**Prediction on actual data**

In [0]:
# predict('no', 'single',85)
for i in range(len(data)):
  predict(data.iloc[i,0],data.iloc[i,1],data.iloc[i,2])

Probability belonging to class:
No: 1.390241018999713e-08
Yes: 0.0024939570968435906

***********
Evade Yes



Probability belonging to class:
No: 0.0013163792765403877
Yes: 0.0014921102591388298

***********
Evade Yes



Probability belonging to class:
No: 3.1641739747151164e-07
Yes: 0.0006832184195349983

***********
Evade Yes



Probability belonging to class:
No: 9.679281613368414e-14
Yes: 0.0012617026776772858

***********
Evade Yes



Probability belonging to class:
No: 0.0069695569822880174
Yes: 0.0015822964395496369

***********
Evade No



Probability belonging to class:
No: 9.679281613368414e-14
Yes: 0.0012617026776772858

***********
Evade Yes



Probability belonging to class:
No: 0.0069695569822880174
Yes: 0.0015822964395496369

***********
Evade No



Probability belonging to class:
No: 0.00858387115607088
Yes: 0.0016328705107119968

***********
Evade No



Probability belonging to class:
No: 0.003730535026483987
Yes: 0.0012946806258982034

***********
Evade No



Probability belonging to class:
No: 7.6892057834714e-12
Yes: 0.0010582033535650637

***********
Evade Yes



Probability belonging to class:
No: 0.0069695569822880174
Yes: 0.0011867223296622277

***********
Evade No



Probability belonging to class:
No: 0.0013163792765403877
Yes: 0.001328968010761154

***********
Evade Yes



Probability belonging to class:
No: 0.00858387115607088
Yes: 0.0010885803404746645

***********
Evade No

In [0]:
#Assignment_2_Test_Samples
predict('yes', 'single',110)
predict('yes', 'single',5)
predict('yes', 'married',95)
predict('no', 'divorced',63)

Probability belonging to class:
No: 3.1641739747151164e-07
Yes: 0.002628015858726654

***********
Evade Yes



Probability belonging to class:
No: 1.5848634354277526e-20
Yes: 8.1214810158956e-05

***********
Evade Yes



Probability belonging to class:
No: 0.0003062209625153443
Yes: 0.0018202458496457896

***********
Evade Yes



Probability belonging to class:
No: 0.002585412308008652
Yes: 0.000816175729354402

***********
Evade No

In [0]:
print(calcNormalDistribution(110,meanNo,varNo))
print(calcNormalDistribution(110,meanYes,varYes))

1.89850438482907e-06
0.010731064756467172

In [0]:
print(calcNormalDistribution(5,meanNo,varNo))
print(calcNormalDistribution(5,meanYes,varYes))
print('****************************************')
print(calcNormalDistribution(95,meanNo,varNo))
print(calcNormalDistribution(95,meanYes,varYes))
print('****************************************')
print(calcNormalDistribution(63,meanNo,varNo))
print(calcNormalDistribution(63,meanYes,varYes))

9.509180612566517e-20
0.00033162714148240373
****************************************
0.001837325775092066
0.011149005829080462
****************************************
0.015512473848051914
0.00666543512306095