In [0]:
import pandas
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

#paths to files
iris_data_path="/content/drive/My Drive/Sem8/DS/Labs/Lab4/Iris/iris.data"
datatraining='/content/drive/My Drive/Sem8/DS/Labs/Lab4/Occupency_Detection/datatraining.txt'
datatestpath='/content/drive/My Drive/Sem8/DS/Labs/Lab4/Occupency_Detection/datatest.txt'
datatest2path='/content/drive/My Drive/Sem8/DS/Labs/Lab4/Occupency_Detection/datatest2.txt'

**Task1**

In [0]:
# Load data set using pandas library
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']
dataset = pandas.read_csv(iris_data_path, names=names)

In [0]:
dataset.shape

(150, 5)

In [0]:
dataset.groupby('class').size()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [0]:
array = dataset.values
X = array[:,0:4]
Y = array[:,4]
t_size = 0.20
seed = 7
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=t_size, random_state=seed)

In [0]:
dataset

     sepal-length  sepal-width  petal-length  petal-width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [0]:

knn = KNeighborsClassifier() 
knn.fit(X_train, Y_train) 
predictions = knn.predict(X_test) 
print(accuracy_score(Y_test, predictions)) 
print(confusion_matrix(Y_test, predictions)) 
print(classification_report(Y_test, predictions))

0.9
[[ 7  0  0]
 [ 0 11  1]
 [ 0  2  9]]
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         7
Iris-versicolor       0.85      0.92      0.88        12
 Iris-virginica       0.90      0.82      0.86        11

       accuracy                           0.90        30
      macro avg       0.92      0.91      0.91        30
   weighted avg       0.90      0.90      0.90        30

In [0]:
print("Changing the value of neighbours\n")
for i in range(1,10):
  #k value changed
  knn = KNeighborsClassifier(i) 
  knn.fit(X_train, Y_train) 
  predictions = knn.predict(X_test) 
  print("K= {0}, Accuracy = {1}".format(i,accuracy_score(Y_test, predictions)))

Changing the value of neighbours

K= 1, Accuracy = 0.9
K= 2, Accuracy = 0.9333333333333333
K= 3, Accuracy = 0.9
K= 4, Accuracy = 0.9333333333333333
K= 5, Accuracy = 0.9
K= 6, Accuracy = 0.8666666666666667
K= 7, Accuracy = 0.8666666666666667
K= 8, Accuracy = 0.9
K= 9, Accuracy = 0.9

In [0]:
print("Changing the value of seed\n")

for i in range(1,10):
  #seed value changed
  seed = i
  X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=t_size, random_state=seed)

  knn = KNeighborsClassifier() 
  knn.fit(X_train, Y_train) 
  predictions = knn.predict(X_test) 
  print("Seed= {0}, Accuracy = {1}".format(i,accuracy_score(Y_test, predictions)))

Changing the value of seed

Seed= 1, Accuracy = 1.0
Seed= 2, Accuracy = 1.0
Seed= 3, Accuracy = 0.9666666666666667
Seed= 4, Accuracy = 0.9666666666666667
Seed= 5, Accuracy = 0.9333333333333333
Seed= 6, Accuracy = 0.9666666666666667
Seed= 7, Accuracy = 0.9
Seed= 8, Accuracy = 0.9
Seed= 9, Accuracy = 1.0

**Task2**

In [0]:
names = ['date','Temperature', 'Humidity', 'Light', 'CO2', 'HumidityRatio','Occupancy']
dataset = pandas.read_csv(datatraining, names=names,header=0)
dataset.drop(dataset.index[0])
dataset=dataset.drop(['date'],axis=1)
dataset

      Temperature  Humidity  Light         CO2  HumidityRatio  Occupancy
1           23.18   27.2720  426.0  721.250000       0.004793          1
2           23.15   27.2675  429.5  714.000000       0.004783          1
3           23.15   27.2450  426.0  713.500000       0.004779          1
4           23.15   27.2000  426.0  708.250000       0.004772          1
5           23.10   27.2000  426.0  704.500000       0.004757          1
...           ...       ...    ...         ...            ...        ...
8139        21.05   36.0975  433.0  787.250000       0.005579          1
8140        21.05   35.9950  433.0  789.500000       0.005563          1
8141        21.10   36.0950  433.0  798.500000       0.005596          1
8142        21.10   36.2600  433.0  820.333333       0.005621          1
8143        21.10   36.2000  447.0  821.000000       0.005612          1

[8143 rows x 6 columns]

In [0]:
#Test Set 1

dataset2 = pandas.read_csv(datatestpath, names=names,header=0)
dataset2.drop(dataset2.index[0])
dataset2=dataset2.drop(['date'],axis=1)
print("Test Set 1")
print(dataset2)

#Test Set 2
dataset3 = pandas.read_csv(datatest2path, names=names,header=0)
dataset3.drop(dataset3.index[0])
dataset3=dataset3.drop(['date'],axis=1)
print("Test Set 2")
print(dataset3)

Test Set 1
      Temperature   Humidity       Light          CO2  HumidityRatio  Occupancy
140     23.700000  26.272000  585.200000   749.200000       0.004764          1
141     23.718000  26.290000  578.400000   760.400000       0.004773          1
142     23.730000  26.230000  572.666667   769.666667       0.004765          1
143     23.722500  26.125000  493.750000   774.750000       0.004744          1
144     23.754000  26.200000  488.600000   779.000000       0.004767          1
...           ...        ...         ...          ...            ...        ...
2800    24.290000  25.700000  808.000000  1150.250000       0.004829          1
2801    24.330000  25.736000  809.800000  1129.200000       0.004848          1
2802    24.330000  25.700000  817.000000  1125.800000       0.004841          1
2803    24.356667  25.700000  813.000000  1123.000000       0.004849          1
2804    24.408333  25.681667  798.000000  1124.000000       0.004860          1

[2665 rows x 6 columns]
Test Set 2
      Temperature   Humidity       Light          CO2  HumidityRatio  Occupancy
1         21.7600  31.133333  437.333333  1029.666667       0.005021          1
2         21.7900  31.000000  437.333333  1000.000000       0.005009          1
3         21.7675  31.122500  434.000000  1003.750000       0.005022          1
4         21.7675  31.122500  439.000000  1009.500000       0.005022          1
5         21.7900  31.133333  437.333333  1005.666667       0.005030          1
...           ...        ...         ...          ...            ...        ...
9748      20.8150  27.717500  429.750000  1505.250000       0.004213          1
9749      20.8650  27.745000  423.500000  1514.500000       0.004230          1
9750      20.8900  27.745000  423.500000  1521.500000       0.004237          1
9751      20.8900  28.022500  418.750000  1632.000000       0.004279          1
9752      21.0000  28.100000  409.000000  1864.000000       0.004321          1

[9752 rows x 6 columns]

In [0]:
print(dataset.shape)
print(dataset2.shape)
print(dataset3.shape)

(8143, 6)
(2665, 6)
(9752, 6)

In [0]:
array = dataset.values
X_train = array[:,0:5]
y_train = array[:,5]

array = dataset2.values
X_test=  array[:,0:5]
y_test = array[:,5]

array = dataset3.values
X2_test=  array[:,0:5]
y2_test = array[:,5]

In [0]:
#Dataset 1
knn = KNeighborsClassifier() 
knn.fit(X_train, y_train) 
predictions = knn.predict(X_test) 
print(accuracy_score(y_test, predictions)) 
print(confusion_matrix(y_test, predictions)) 
print(classification_report(y_test, predictions))

0.9425891181988743
[[1645   48]
 [ 105  867]]
              precision    recall  f1-score   support

         0.0       0.94      0.97      0.96      1693
         1.0       0.95      0.89      0.92       972

    accuracy                           0.94      2665
   macro avg       0.94      0.93      0.94      2665
weighted avg       0.94      0.94      0.94      2665

In [0]:
#Dataset 2
 
predictions = knn.predict(X2_test) 
print(accuracy_score(y2_test, predictions)) 
print(confusion_matrix(y2_test, predictions)) 
print(classification_report(y2_test, predictions))

0.9621616078753076
[[7385  318]
 [  51 1998]]
              precision    recall  f1-score   support

         0.0       0.99      0.96      0.98      7703
         1.0       0.86      0.98      0.92      2049

    accuracy                           0.96      9752
   macro avg       0.93      0.97      0.95      9752
weighted avg       0.97      0.96      0.96      9752

In [0]:
print("Changing the value of neighbours\n")
print("Test set 1\n")
#on test set 1
for i in range(1,10):
  #k value changed
  knn = KNeighborsClassifier(i) 
  knn.fit(X_train, y_train) 
  predictions = knn.predict(X_test) 
  print("K= {0}, Accuracy = {1}".format(i,accuracy_score(y_test, predictions))) 

print("Test set 2\n")

#on test set 2
for i in range(1,10):
  #k value changed
  knn = KNeighborsClassifier(i) 
  knn.fit(X_train, y_train) 
  predictions = knn.predict(X2_test) 
  print("K= {0}, Accuracy = {1}".format(i,accuracy_score(y2_test, predictions)))

Changing the value of neighbours

Test set 1

K= 1, Accuracy = 0.9365853658536586
K= 2, Accuracy = 0.9230769230769231
K= 3, Accuracy = 0.9350844277673546
K= 4, Accuracy = 0.9275797373358349
K= 5, Accuracy = 0.9425891181988743
K= 6, Accuracy = 0.9324577861163227
K= 7, Accuracy = 0.9609756097560975
K= 8, Accuracy = 0.9549718574108818
K= 9, Accuracy = 0.9617260787992495
Test set 2

K= 1, Accuracy = 0.9502666119770303
K= 2, Accuracy = 0.9525225594749795
K= 3, Accuracy = 0.9579573420836751
K= 4, Accuracy = 0.9539581624282198
K= 5, Accuracy = 0.9621616078753076
K= 6, Accuracy = 0.9628794093519278
K= 7, Accuracy = 0.9649302707136997
K= 8, Accuracy = 0.9658531583264971
K= 9, Accuracy = 0.9656480721903199