### Naive_Bayes_Implementation

In [1]:
#Necessary imports
import pandas as pd
import numpy as np

#Specify paths to dataset
train_data_path = '/content/parktraining.xlsx'
test_data_path =  '/content/parktesting.xlsx'

#Data reading
X = pd.read_excel(train_data_path, header=None)

#Data display
X.head()

        0        1        2        3   ...        19        20        21  22
0  187.733  202.324  173.015  0.00316  ...  0.266892  2.382544  0.160691   1
1  186.163  197.724  177.584  0.00298  ...  0.201095  2.374073  0.130554   1
2  184.055  196.537  166.977  0.00258  ...  0.063412  2.361532  0.115730   1
3  237.226  247.326  225.227  0.00298  ...  0.098648  2.416838  0.095032   0
4  241.404  248.834  232.483  0.00281  ...  0.158266  2.256699  0.117399   0

[5 rows x 23 columns]

Seperating the healthy and unhealthy data

In [2]:
positive = X[X[22]==1]#unhealthy
negative = X[X[22]==0]#Healthy
print('Number of positive patients: {}\nNumber of negative patients: {}'.format(len(positive),len(negative)))

Number of positive patients: 114
Number of negative patients: 42

Function to calculate the mean

In [0]:
def calc_Mean(X): #Sum of var / num of var

  mean =[]
  sum_Col=0
  for col in range(X.shape[1]-1): #Column traversal
    for row in range(len(X)):#iterate over all the rows 
      
      sum_Col += X.iloc[row, col]

    mean.append(sum_Col/len(X))
    sum_Col=0 
  
  return mean

Function to calculate sample variance

In [0]:
def calc_Var(X, means):# E(X-U)^2 / X.len - 1
  var=[]
  var_Col=0
  for col in range(X.shape[1]-1): #Column traversal
    for row in range(len(X)):#iterate over all the rows 
      
      var_Col += (X.iloc[row, col] - means[col])**2 

    var.append(var_Col/(len(X)-1))
    var_Col=0 
  
  return var

Function for calculating probablity

In [0]:
def calc_Prob_class(row):
  pos_Prob=1
  neg_Prob=1
  y_pred=[]
  for rows in range(len(row)): #Row traversal
      for i in range(row.shape[1]-1): #Column traversal
          pos_Prob *= calc_Prob(var_means['positive_var'][i], var_means['positive_mean'][i], row.iloc[rows,i]) # var, mean, A
          neg_Prob *= calc_Prob(var_means['negative_var'][i], var_means['negative_mean'][i], row.iloc[rows,i]) 
 
      # The class having bigger probability will be selected
      if(pos_Prob>neg_Prob):
          y_pred.append(1)
      else:
          y_pred.append(0)
      neg_Prob=1
      pos_Prob=1

  return y_pred

Function for accuracy

In [0]:
def acc(y, y_pred):
    corr=0
    for i in range(len(y)):
        if(y[i]==y_pred[i]):
            corr+=1
    
    return corr/len(y)

Function to calculate probability for naive bayes

In [0]:

import math
def calc_Prob(var,mean,A):
    x = 1/np.sqrt(2*math.pi*var)
    b = (A-mean)**2
    b = b/(2*var)
    x *= np.e**(-b)
    return x

Example to check the function

In [8]:
calc_Prob(2975, 110, 120)

0.007192295359419549

Dictionary to store variance and means for both classes

In [9]:

var_means = ({
                'positive_var':[],
                'negative_var':[],
                'positive_mean':[],
                'negative_mean':[],
            })
print(var_means)

{'positive_var': [], 'negative_var': [], 'positive_mean': [], 'negative_mean': []}

Calculating the means and variance of the training data

In [0]:
var_means['positive_mean']=calc_Mean(positive)[:]
var_means['negative_mean']=calc_Mean(negative)[:]
var_means['positive_var']=calc_Var(positive, var_means['positive_mean'])[:]
var_means['negative_var']=calc_Var(negative, var_means['negative_mean'])[:]

Applying naive bayes on training data

In [11]:
y_pred = calc_Prob_class(X)

print('Training accuracy: {}%'.format(acc(X[22], y_pred)*100))

Training accuracy: 71.7948717948718%

Reading test set

In [12]:
test_data = pd.read_excel('parktesting.xlsx', header=None)
test_data.head()

        0        1        2        3   ...        19        20        21  22
0  119.992  157.302   74.997  0.00784  ...  0.266482  2.301442  0.284654   1
1  122.400  148.650  113.819  0.00968  ...  0.335590  2.486855  0.368674   1
2  116.682  131.111  111.555  0.01050  ...  0.311173  2.342259  0.332634   1
3  116.676  137.871  111.366  0.00997  ...  0.334147  2.405554  0.368975   1
4  116.014  141.781  110.655  0.01284  ...  0.234513  2.332180  0.410335   1

[5 rows x 23 columns]

Testing

In [13]:
y_pred= calc_Prob_class(test_data)

print('Testin Accuracy: {}%'.format(acc(test_data[22], y_pred)*100))

Testin Accuracy: 58.97435897435898%

## Naive bayes using Sklearn

In [0]:
#Data reading
X = pd.read_excel('/content/parktraining.xlsx', header=None)
X # predictors

y = X[X.columns[-1]] # class label
X = X.iloc[:,0:22] # Dropping the class label

In [0]:
X_test = pd.read_excel('/content/parktesting.xlsx', header=None)
X_test # predictors

y_test = X_test[X_test.columns[-1]] # class label
X_test = X_test.iloc[:,0:22] # Dropping the class label

In [0]:
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
# Importing naive bayes
gnb = GaussianNB()
# Training
model = gnb.fit(X, y)

Validating on training data

In [17]:
y_pred=model.predict(X)

print('Training accuracy: {}%'.format(accuracy_score(y, y_pred)*100))

Training accuracy: 71.7948717948718%

Testing on testing data

In [18]:
y_pred=model.predict(X_test)

print('Testing accuracy: {}%'.format(accuracy_score(y_test, y_pred)*100))

Testing accuracy: 58.97435897435898%